[defaults]
inventory = /etc/ansible/hosts 
remote_user = devops
ask_pass = false       

COLLECTIONS_PATHS = ./collections
roles_path = roles

deprecation_warnings = False
host_key_checking = false


[privilege_escalation]
become = false
become_method = sudo
become_user = root 
become_ask_pass = true
